@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="dark"] {
  --color-header: #fafafa;
  --color-title: #f4f4f5;
  --color-text: #e4e4e7;
  --color-verse: #a1a1aa;

  background: #18181b;
}

body {
  --color-header: #09090b;
  --color-title: #18181b;
  --color-text: #27272a;
  --color-verse: #52525b;

  background: #f4f4f5;

  -webkit-font-smoothing: antialiased;
}

.color-header {
  color: var(--color-header);
}
.color-title {
  color: var(--color-title);
}
.color-text {
  color: var(--color-text);
}
.color-verse {
  color: var(--color-verse);
}
